.products{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 40px 40px 40px;
    text-align: center;
    overflow-x: scroll;
}
.products div{
    margin: 20px;
}
.product-items{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(172, 172, 172);
    min-width: 350px;
}
.product-items img{
    border-radius: 20px;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 20px rgb(192, 192, 192);
    transition: 0.3s;
}
.product-items img:hover{
    width: 200px;
    height: 200px;
    transform: scale(1.1);
    overflow: hidden;
}
.product-items .new{
    background-color: red;
    color: white;
    position: relative;
    top: -350px;
    left: 60px;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 13px;
    z-index: 1;
}
.product-items span{
    color: red;
    font-size: 20px;
}
.product-items button{
    background-color: black;
    color: white;
    width: 0px;
    margin:  10px -10px;
    width: 100%;
    padding: 10px 0;
    border-radius: 50px;
    transition: 0.3s;
}
.product-items button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;

}
.product-items p{
    color: rgb(46, 46, 46);
    padding: 20px;
    font-weight: 800;
}